[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "~=6.17"
matplotlib = "~=3.10"
numpy = "~=2.0"
pandas = "~=2.2"
scipy = "~=1.16"
sympy = "~=1.14"

[dev-packages]
black = "*"
isort = "*"
jupyterlab = "*"
mypy = "*"
pandas-stubs = "*"
pylint = "*"

[requires]
python_version = "3.12"
